:root {
  --native-bg-color: #fff;
  --native-text-color: #000;
  --native-hint-color: #707579;
  --native-link-color: #007aff;
  --native-button-color: #007aff;
  --native-button-text-color: #fff;
  --native-secondary-bg-color: #efeff4;
  --custom-secondary-fill: rgba(67, 120, 255, 0.1);
  --custom-surface-primary: rgba(255, 255, 255, 0.95);
  --custom-divider: rgba(0, 0, 0, 0.15);
  --native-destructive-text-color: #e53935;
  --custom-secondary-hint-color: #a2acb0;
  --custom-plain-background: rgba(0, 0, 0, 0.04);
  --custom-plain-foreground: rgba(0, 0, 0, 0.8);
  --custom-white: #fff;
  --custom-secondary-code-highlight: #b00fb4;
  --custom-tertiary-code-highlight: #3a9f20;
  --custom-tertiary-bg-color: #f4f4f7;
  --custom-surface-dark: rgba(56, 56, 56, 0.85);
  --custom-destructive-background: rgba(241, 46, 46, 0.05);
  --custom-green: #31d158;
  --custom-primary-code-highlight: #4378ff;
  --custom-outline: rgba(0, 0, 0, 0.05);
  --custom-quaternary-bg-color: #f6f6fa;
  --custom-card-bg-color: #fff;
  --custom-skeleton: rgba(0, 0, 0, 0.03);
  --native-accent-text-color: #007aff;
  --native-subtitle-text-color: #707579;
  --native-section-header-text-color: #707579;
  --native-header-bg-color: #fff;
  --native-section-bg-color: #fff;
  --custom-toast-accent-color: #55a6ff;
  --custom-black: #000;
  --custom-tooltip-background-dark: rgba(0, 0, 0, 0.85);
  --custom-segmented-control-active-bg: #fff;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "SF Pro", sans-serif;
}
